.color-1 {
    color: hsl(150, 5%, 7%);
}
.color-2 {
    color: hsl(65, 9%, 29%);
}
.color-3 {
    color: hsl(156, 10%, 56%);
}
.color-4 {
    color: hsl(40, 32%, 82%);
}
.color-5 {
    color: hsl(38, 83%, 64%);
}
