.headshot__download {
  position: absolute;
  right: rems(32px);
  bottom: rems(32px);
  border-radius: rems(32px);
  width: rems(48px);
  height: rems(48px);
  padding: 0;
  padding-left: rems(10px);
  padding-top: rems(8px);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}
.headshot__download:hover {
  padding: rems(8px) rems(17px);
  width: rems(170px);
  border-radius: rems(3px);
}
