.headshots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}
.headshots__ui {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: rems(48px);
  margin: auto rems(32px);
  z-index: 3;
}
.headshots__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: rems(48px);
  height: rems(48px);
  margin: auto;
  background: none;
  border-radius: 50%;
  border: 1px solid #efb857;
  color: #efb857;
  font-size: rems(24px);
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: all 250ms ease-in-out;
}
.headshots__btn:hover {
  opacity: 1;
  background: rgba(#efb857, 0.25);
}
.headshots__btn.prev {
  left: 0;
}
.headshots__btn.next {
  right: 0;
}
.headshots__item {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0
}

.headshots__item.transition {
  z-index: 3;
}
.headshots__item.rotate {
  transition: all 1200ms ease;
}

.headshots__item.forwards.from {
  transform: translateX(0);
}
.headshots__item.forwards.to {
  transform: translateX(100%);
}

.headshots__item.forwards.rotate.from {
  transform: translateX(-100%);
}
.headshots__item.forwards.rotate.to {
  transform: translateX(0);
}
