.headshot {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 25% 30%;
  overflow: hidden;
}
.headshot__download {
  position: absolute;
  right: rems(32px);
  bottom: rems(32px);
  transform: translateY(200%);
  transition: all 250ms ease;
}
.headshot__img {
  width: 100%;
  height: auto;
  opacity: 0;
}
