// Utils
// ---------------------------------------------------------------------------
@function rems ($px) {
  @return $px/16px * 1rem;
}

@function black ($percent) {
  @return darken(white, $percent);
}

// Typography
// ---------------------------------------------------------------------------
%body-font {
  font-family: 'Raleway', sans-serif;
}

%display-font {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 400;
}
