@import "shared";

// Blocks
// ---------------------------------------------------------------------------
.about__headshot {
  order: 1;
  width: 48vw;
}
.about__content {
  order: 2;
  width: 52vw;
}

.background {
  height: 100vh;
}

.group {
  margin-bottom: rems(64px);
}

.hero {
  height: 100vh;
}
.hero__inner {
  right: rems(64px);
  bottom: rems(64px);
}

.headshot {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 25% 30%;
}
.headshot img {
  display: none;
}

.profile-photo__img {
  display: none;
}

.section {
  display: flex;
  flex-flow: row nowrap;
}

// Media Queries
// ---------------------------------------------------------------------------

@media (max-width: 1200px) {
  .links__link.resume,
  .links__link.credits,
  .links__link.email {
    flex: 1 1 100%;
  }
}

@media (min-width: 1200px) {
  .links__link.resume,
  .links__link.credits {
    flex: 0 1 48%;
  }
  .links__link.email {
    flex: 1 1 100%;
  }
}
