@import "shared";

// Base
// ---------------------------------------------------------------------------

h1, h2 {
  color: #fff;
}

// Blocks
// ---------------------------------------------------------------------------

.desktop {
  display: none;
}

.btn {
  display: block;
  width: 100%;
}

.group {
  margin-bottom: rems(32px);
}

.hero__inner {
  left: rems(16px);
  bottom: rems(88px);
  z-index: 5;
}

.profile-photo__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
