@import "shared";

// Base
// ---------------------------------------------------------------------------

h1, h2 {
  color: #fff;
}

// Blocks
// ---------------------------------------------------------------------------
.background {
  height: 100vh;
  max-height: rems(720px);
}

.desktop {
  display: none;
}

.btn {
  display: block;
  width: 100%;
}

.group {
  margin-bottom: rems(32px);
}

.headshot__download {
  width: 90%;
  margin: auto;
}

.headshots {
  height: 100vh;
}

.hero {
  height: 100vh;
  max-height: rems(720px);
}
.hero__inner {
  left: rems(16px);
  bottom: rems(88px);
  z-index: 5;
}

.profile-photo__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
