@import "shared";
@import "reset";

// Base
// ---------------------------------------------------------------------------

body {
  background: #404134;
  @extend %body-font;
}

h1, h2, h3, h4, h5 {
  color: #f4ddda;
}

h1 {
  font-size: 5vw;
  line-height: 1.2;
}

h2 {
  font-size: 2vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 2vh;
}

h5 {
  font-size: 1vh;
}

// Blocks
// ---------------------------------------------------------------------------
.body {
  @extend %body-font;
}
.display {
  @extend %display-font;
}
.hero {
  position: relative;
  background: url(/img/ben_hero.jpg);
  background-size: cover;
  background-position: 25% 30%;
  height: 100vh;
}
.hero__inner {
  position: absolute;
}
